* {
    margin:0;
    padding : 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
 }
body{
    background: url("/anh-hinh-nen-thien-nhien-anime-59.jpg");
    background-size :cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 110vh;
    background:rgba(red, green, blue, alpha)
}
.nav {
    position: fixed;
    top:0;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height:100px;
    line-height: 100px;
    background:  linear-gradient(rgba(0,0,0,0.6),transparent);
}
.nav-logo p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-size: 10px;
    font-weight:  bold;
}
.nav-menu {
    display :flex;

}

.nav-menu li{
    list-style-type: none;
    font-weight: 500;
    color:#fff;
    padding-bottom: 15px;
    margin:0 25px;
}
.link:hover, .active {
    border-bottom: 2px solid #fff;
}

.nav-button .btn-button{
    width: 130px;
    height:40px;
    font-weight: 500;
    background: rgba(red, green, blue, alpha);
    border: none;
    border-radius: 30px;
    cursor:pointer;
    transition: .3s ease;
}

#Loginbtn {
    margin-left : 15px;
}
#Signupbtn {
    margin-left :15px;
    
}
